/*ESTILOS GENERALES */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  margin: 0;
  padding: 0;
  color: #222;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  background-color: #1f3b73;
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
  margin: 0;
  font-size: 1.8em;
}


.menu {
  flex: 1;
  margin-top: 30px;
}

.menu h2 {
  color: #1f3b73;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.menu-btn {
  background-color:#1f3b73;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  transition: background 0.3s, transform 0.2s;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-btn:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}


section {
  background: #ffffffcc;
  padding: 20px;
  margin: 40px auto;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

section h2 {
  color: #1f3b73;
  margin-bottom: 10px;
}


input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}


#resultado {
  font-weight: bold;
  margin-top: 15px;
  color: #222;
  font-size: 1.1em;
}


a {
  display: inline-block;
  margin: 20px auto;
  text-decoration: none;
  color: #1f3b73;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}


footer {
  background-color: #1f3b73;
  color: white;
  padding: 10px 0;
  font-size: 0.9em;
  border-top: 3px solid #0f2452;
  border-radius: 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}
